* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

#main {
	background: #000;
}

#landing-page {
	display: block;
	height: 80vh;
}

#main-content {
	display: flex;
}

.intro {
	width: 50%;
}

.intro h1, p {
	color: #fff;
}

.intro h1 {
	font-size: 36px;
}


.cow {
	width: 50%;
}

.cow {
	width: 50%;
	height: 100%

}

.logo {
	color: #22E4B9;
}
