* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Brandon', sans-serif;
}

@font-face {
  font-family: 'Circular';
  src: url('../Circular/circular-bold.otf'),
  	   url('../Circular/circular-medium.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Brandon';
  src: url('../Brandon/BrandonText-Regular.otf'),
  	   url('../Brandon/BrandonText-MediumItalic.otf'); /* IE9 Compat Modes */
}

nav {
	padding-top: 30px;
	display: flex;
}

.logo-container {
	display: flex;
	height: 72px;
}

.logo {
	width: 120px;
}

.logo img {
	max-width: 60%;
}

.logo-text h1{
	color: #fff;;
	font-size: 26px;
	padding-top: 20px;
	font-family: 'Circular', sans-serif;
}


.menu {
	margin-left: auto;
	margin-top: 10px;
}


#container_env {
	background: #000 url('../img/earth.png') right no-repeat;
}

#environment-page {
	display: block;
	height: 20vh;
	width: 80%;
	margin: auto;
	position: relative;
}

#main-content {
	width: 100%;
}

#env_topics {
	align-self: auto;
	height: 300px;
	width: px;
	margin:0;
	text-align: center;
  padding-top: 48px;
  padding-bottom: 100px;
  padding-right: 26px;
  padding-left: 26px;
	position: relative;
}

#secondary {
	width: 1100px;
	margin: auto;
	padding-top: 50px;
}

#secondary h1 {
	font-size: 20px;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	color: #333;
	text-align: center;
	padding-bottom: 30px;
	line-height: 100%;
}

#secondary h2 {
	font-size: 32px;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	color: #22e4b9;
	margin: 0 250px;
	padding-bottom: 40px;
}

#secondary h3 {
	font-size: 20px;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	color: #333;
	padding-bottom: 10px;
	margin: 0 250px;
}

#secondary p {
	margin: 0 250px;
	font-size: 20px;
	line-height: 160%;
	color: #333;
	padding-top: 30px;
	text-align: justify;
}

#secondary ul {
	margin: 0 250px;
	font-size: 16px;
	color: #333;
	padding-top: 30px;
	padding-left: 30px;
	text-align: justify;
}

#secondary li {
	line-height: 200%;
}

#secondary img {
	width: 500px;
	margin: auto;
	padding-top: 30px;
	padding-left: 300px;
}

.sections {
	display: block;
	width: 100%;
}

#topic1 {
	height: 300px;
	background: rgba(26,233,179,0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
  width: 32%;
  position:absolute;
  top:50px;
  left: 0;
	right: 50px;
}

#topic2 {
	height: 300px;
	background: rgba(26,233,179,0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 32%;
	margin: 0 auto;
}

#topic3 {
	height: 300px;
	background: rgba(26,233,179,0.2);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 32%;
	position:absolute;
 	top: 50px;
	right: 0;
}

#water {
	padding-top: 70px;
}

footer {
	background: #000;
	width: 100%;
	display: block;
	margin-top: 120px;
}

footer p {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: #22e4b9;
	text-align: center;
	padding: 80px 0;
}
