/***************************
				  General
***************************/

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Brandon', sans-serif;
}

@font-face {
  font-family: 'Circular';
  src: url('../Circular/circular-bold.otf'),
  	   url('../Circular/circular-medium.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Brandon';
  src: url('../Brandon/BrandonText-Regular.otf'),
  	   url('../Brandon/BrandonText-MediumItalic.otf'); /* IE9 Compat Modes */
}

/***************************
				Navigation
***************************/

nav {
	padding-top: 40px;
  background-color: #000;
  height: 100px;
}

.main-menu {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.nav-menu {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .98);
	border-radius: 5px;
	border: 1px;
	display: none;
}

.nav-menu ul {
	margin-top: 180px;
}

.nav-menu li{
	list-style: none;
	text-align: center;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	margin: 20px 0;
	padding: 30px 0;
}

.nav-menu .close {
	position: absolute;
	font-size: 30px;
	right: 150px;
	top: 35px;
	cursor: pointer;
  color: #fff;
}

.nav-menu li a {
	text-decoration: none;
	color: rgba(255, 255, 255, .8);
	font-size: 40px;
	text-transform: uppercase;
}

.nav-menu a:hover {
	color: #0cb791;
}


.menu {
	margin-left: auto;
	margin-top: 10px;
	cursor: pointer;
}

.logo-container {
	display: flex;
	height: 72px;
}

.logo {
	width: 120px;
}

.logo img {
	max-width: 30%;
}

.logo-text a {
	color: #fff;
	font-size: 26px;
	font-family: 'Circular', sans-serif;
	text-decoration: none;
}

/***************************
				Main content
***************************/

.about-content {
  width: 60%;
  margin: 80px auto;
  text-align: center;
}

.about-content h2 {
  font-size: 26px;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	color: #22e4b9;
	padding-bottom: 30px;
}

.about-content p {
  width: 60%;
  margin: auto;
	font-size: 20px;
	line-height: 160%;
	color: #333;
	padding-top: 30px;
}

form textarea {
  width: 60%;
  height: 200px;
  display: block;
  border-radius: 5px;
  margin: 40px auto;
  padding: 10px;
  outline-color: #22e4b9;
}

form .send {
  width: 40%;
  height: 55px;
  border-radius: 2px;
	border: none;
	background: #0cb791;
	color: #fff;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

/***************************
				Footer
***************************/

footer {
	background: #000;
	width: 100%;
	display: block;
	margin-top: 120px;
}

.footer {
	display: flex;
	width: 60%;
	margin: auto;

}

footer p {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: #22e4b9;
	text-align: center;
	padding: 80px 0;
}

.social {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.social li {
	margin-left: 20px;
	border: 1px solid #22e4b9;
	padding: 8px 10px 6px 10px;
	border-radius: 50%;
}

.social svg {
	fill: #fff;
}
