* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Brandon', sans-serif;
}

@font-face {
  font-family: 'Circular';
  src: url('../Circular/circular-bold.otf'),
  	   url('../Circular/circular-medium.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Brandon';
  src: url('../Brandon/BrandonText-Regular.otf'),
  	   url('../Brandon/BrandonText-MediumItalic.otf'); /* IE9 Compat Modes */
}

/***************************
				Navigation
***************************/

nav {
	padding-top: 40px;
	display: flex;
}

.nav-menu {
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .98);
	border-radius: 5px;
	border: 1px;
	display: none;
}

.nav-menu ul {
	margin-top: 150px;
}

.nav-menu li{
	list-style: none;
	text-align: center;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	margin: 20px 0;
	padding: 30px 0;
}

.nav-menu .close {
	position: absolute;
	font-size: 30px;
	right: 150px;
	top: 35px;
	cursor: pointer;
}

.nav-menu li a {
	text-decoration: none;
	color: rgba(255, 255, 255, .8);
	font-size: 30px;
	text-transform: uppercase;
}

.nav-menu a:hover {
	color: #0cb791;
}



.menu {
	margin-left: auto;
	margin-top: 10px;
}

#container {
	background: #000 url('../img/health4.png') right no-repeat;
  background-position: 700px 50px;
	background-size: 40%;
}

background {
img
}

.img-circle {
  border-radius: 50%;
}

#landing-page {
	display: block;
	height: 100vh;
	width: 80%;
	margin: auto;
	position: relative;
}

#main-content {
	width: 50%;
}

.sections {
	display: block;
	width: 100%;
}

.intro h1, p {
	color: #fff;
}

.intro p {
	width: 70%;
	margin-top: 30px;
	line-height: 170%;
	color: rgba(255, 255, 255, .8);
}

.intro h1 {
	font-size: 36px;
	margin-top: 30%;
	font-family: 'Circular', sans-serif;
}

.intro button {
	margin-top: 50px;
	padding: 10px 45px;
	border-radius: 2px;
	border: none;
	background: #0cb791;
	color: #fff;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.logo {
	width: 180px;
}

.logo img {
	max-width: 100%;
}

.explore-why {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -55px
}

.explore-why p {
	padding-right: 15px;
}

.explore-why svg {
	padding-top: 3px;
}

#secondary {
	width: 1100px;
	margin: auto;
	padding-top: 120px;
}

#secondary h2 {
	font-size: 26px;
	font-family: 'Circular', sans-serif;
	font-weight: 600;
	color: #22e4b9;
	text-align: center;
	padding-bottom: 30px;

}

#secondary p {
	margin: 0 250px;
	font-size: 20px;
	line-height: 160%;
	color: #333;
	padding-top: 30px;
  text-align: justify;
}

#secondary blockquote {
	margin-top: 30px;
	font-size: 24px;
	line-height: 160%;
	color: #333;
	padding: 30px 60px;
	font-style: italic;
	font-weight: 600;
	border: 10px solid #22e4b9;
}

footer {
	background: #000;
	width: 100%;
	display: block;
	margin-top: 120px;
}

footer p {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: #22e4b9;
	text-align: center;
	padding: 80px 0;
}

#column1 p {
  color: black;
  text-align: left;
  padding: 0 550px 0 50px;
  width: 950px;
  text-align: justify;
}

#column1 img {
  border-radius: 50%;
  width:  400px;
  height: 400px;
  padding: 80px 80px;
  text-align: center;
}


#column2 p {
  color: black;
  text-align: left;
  padding: 0 550px 0 50px;
  width: 950px;
  text-align: justify;
}

#column2 img {
  border-radius: 50%;
  width:  400px;
  height: 400px;
  padding: 80px 80px;
  text-align: center;
}

#column3 p {
  color: black;
  text-align: left;
  padding: 0 550px 0 50px;
  width: 950px;
  text-align: justify;
}

#column3 img {
  border-radius: 50%;
  width:  400px;
  height: 400px;
  padding: 80px 80px;
  text-align: center;
}

#contentBox {
padding: 0 80px;
}

#tertiary h1 {
  font-family: 'Circular', sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #22e4b9;
	text-align: center;
  padding: 0 80px 20px 135px;

}

/***************************
				Footer
***************************/

footer {
	background: #000;
	width: 100%;
	display: block;
	margin-top: 120px;
}

.footer {
	display: flex;
	width: 60%;
	margin: auto;

}

footer p {
	font-family: 'Circular', sans-serif;
	font-weight: bold;
	font-size: 34px;
	color: #22e4b9;
	text-align: center;
	padding: 80px 0;
}

.social {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.social li {
	margin-left: 20px;
	border: 1px solid #22e4b9;
	padding: 8px 10px 6px 10px;
	border-radius: 50%;
}

.social svg {
	fill: #fff;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
    padding: 80px 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
